.board-container {
    
    margin-top: 10px;
    
    .board {
        border: 1px solid #888888;
    }

}

.draggable {
    float: left; 
    margin: 0 10px 10px 0;
}

.ui-widget-header p, .ui-widget-content p {
    margin: 0;
}

#snaptarget {
    height: 140px;
}

.stack {
    margin-top: 10px;
    border: 1px solid #cccccc;
}
    
.card {
    float: left;
    margin: 2px;
    border: 1px solid #cccccc;
    background-image: url('/images/grounds.png');
    background-repeat: no-repeat;
    padding: 35px;
}

.building {
    float: left;
    margin: 5px;
    border: 1px solid #cccccc;
    background-image: url('/images/buildings_small.png');
    background-repeat: no-repeat;
    padding: 35px;
}

table.board {
    border: 1px #888888 solid;
    background-color: #807035;
    z-index: -1;
    
    td {
        border: 1px #cccccc solid;
        z-index: -1;
    }
}
