extends layout

block content
    div(class="row stack-container")
        div(class="col-md-3 stack")
            div(class="cards")
        
        div(class="col-md-3 stack")
            div(class="cards")
        
        div(class="col-md-3 stack")
            div(class="cards")
        
        div(class="col-md-3 stack")
            div(class="cards")
        
    div(class="row board-container")
        div(class="col-md-12 board")
    
block javascripts
    script(type='text/javascript', src='/javascripts/index.js')
