extends layout

block content
    div(class="row")
        div(class="col-md-5 board-container")
            table(class="board")
    
        div(class="col-md-7 stack-container")
            div(class="row")
                div(class="col-md-12 stack")
                    div(class="cards")
                    div(class="buildings")
            div(class="row")
                div(class="col-md-12 stack")
                    div(class="cards")
                    div(class="buildings")

